.App {
  height: 100vh;
  display: grid;
  grid-template: 'input-videos video-preview' 1fr / 1fr 1fr;
}

.App-inputVideos {
  grid-area: input-videos;
}

.App-videoPreview {
  grid-area: video-preview;
  width: 100%;
}
